<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>   <!-- pass form variable ' f ' as local variable explicitly -->
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
