<h1>Contact</h1>
<!--<p>
Contact Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org/feedback">feedback page</a>.
</p>-->
<p>Email contact: <a href="mailto:gopi.kalyan65@gmail.com?subject=feedback">gopi.kalyan65@gmail.com</a></p>
