<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://rubyonrails.org/community">News</a></li>
			<li><a href="http://github.com/cooljinx/sample_app">Source Code</a></li>
		</ul>
	</nav>
</footer>
